<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hallo</h1>
    Datum: <span th:text="${today}"></span>
    <div>
        <ul>
            <li><a href="/patient/list">Patientenliste</a></li>
            <li><a href="/patient/add">Patient registrieren</a></li>
            <li><a href="/device/list">Geräteliste</a></li>
            <li><a href="/device/add">Gerät anlegen</a></li>
            <li><a href="/reservation/add">Neue Reservierung</a></li>

        </ul>
    </div>
</div>
</body>
</html>