<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>SV-Nummer</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geschlecht</th>
                <th>Geburtsdatum</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.ssn}"></td>
                <td th:text="${p.firstName}"></td>
                <td th:text="${p.lastName}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.birthDate}"></td>
            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">neuen Patienten anlegen</a>
    </p>
</div>
</body>
</html>